.answer_container {
    width: 100%;
    min-height: 100px;
    height: 200px;

    display: flex;
    justify-content: center;
}

.equation {
    font-size: 30px;
}

.controls_bar {
    width: calc(100% - 20px);
    margin: 0 10px;

    align-self: flex-start;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.controls_bar h1 {
    color: var(--text-color);
    font-family: 'SF Pro Display';
    font-size: 30px;
}

.controls_divider {
    width: 100%;
    height: 2px;

    background-color: var(--bg-darker);
    margin: 25px 0;
}