.options_container {
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    transform-origin: top;
}

.option {
    margin: 10px;

    width: calc(100% - 20px);
    height: fit-content;
    padding: 30px 0;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

.option_input {
    margin-left: 30px;

    width: calc(100% - 106px);
    height: 50px;

    border: none;
    outline: none;
    border-bottom: 1px solid var(--bg-dark);

    transform: translateY(-3px);

    font-size: 25px;

    transition: 0.15s ease-in-out;

    background-color: transparent;
    color: var(--bg);
}

.option_input:focus {
    border-bottom: 2px solid var(--bg);
    border-radius: 3px;
}

.option_input::placeholder {
    color: var(--bg);
}