.questions {
    width: 100vw;
    height: var(--bottom-bar-height);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.question_box {
    width: calc(50vw - 20px);
    height: calc((var(--bottom-bar-height) / 2) - 20px);

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 10px;
    margin: 10px;
}

.question_red {
    background-color: #C60929;
}

.question_green {
    background-color: #106B03;
}

.question_blue {
    background-color: #0542B9;
}

.question_yellow {
    background-color: #D89E00;
}

.question_option {
    margin: 0 30px;

    font-family: 'SF Pro Display';
}

.option_correct {}

.option_incorrect {
    opacity: 0.5;
}