.set_container {
    display: flex;
}

.side_bar {
    width: 20vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: var(--bg-dark);
    border-radius: 10px;

    padding: 20px;

    margin-left: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.questions_container {
    width: calc(80vw - 60px);
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    transform: translateY(-10px);
    margin: 0 20px;
}

.set_image {
    width: 100%;
    aspect-ratio: 16/9;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 10px;
}

.set_name {
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    color: var(--text-color);
    font-family: 'SF Pro Display';

    width: 100%;
    overflow: hidden;
}

.set_description {
    font-size: 24px;
    margin-top: 10px;
    color: var(--text-color);
    font-family: 'SF Pro Display';
}

.action_buttons {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
}

.link_button_container {
    width: calc(50% - 5px);
    height: 60px;
}

.study_button {
    width: 100%;
    height: 100%;

    font-size: 26px;
    background-color: var(--bg-darker);
    color: var(--text-color);

    margin-right: 10px;

    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.study_button:active {
    transform: scale(0.95);
}

.host_button {
    width: calc(50% - 5px);
    height: 60px;

    font-size: 26px;
    background-color: var(--primary-color);

    margin-left: 10px;

    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.host_button:active {
    transform: scale(0.95);
}

.author_container {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--bg-darker);
    border-radius: 10px;

    margin-top: 10px;
}

.author_pfp {
    margin: 15px;
    border-radius: 100%;
}

.author_name {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    font-family: 'SF Pro Display';
}

.popup_error {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.question {
    width: 100%;
    padding: 30px 0;

    background-color: var(--bg-dark);
    border-radius: 10px;

    margin: 10px 0;
    display: flex;
    flex-direction: column;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.question_header {
    margin-left: 20px;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.question_title {
    font-size: 36px;
    font-weight: bold;
    color: var(--text-color);
    font-family: 'SF Pro Display';
}

.question_content {
    width: calc(100% - 40px);
    margin: 0 20px;
    margin-top: 25px;
}

.options_container {
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.flashcard_answer_container {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
}

.option {
    width: calc(100% - 20px);
    padding: 30px 0;

    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--bg-darker);
}

.option h1 {
    color: var(--text-color);
    margin-left: 20px;
    font-family: 'SF Pro Display';
}

.option_correct {
    background-color: var(--correct-color) !important;
}

.set_stats {
    margin-top: 50px;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.set_stats div {
    display: flex;
    align-items: center;
}

.like_icon {
    width: 30px;
    height: 30px;

    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.like_icon path {
    fill: none;
    stroke: var(--text-color);
    stroke-width: 2px;
}

.like_icon:active {
    transform: scale(0.9);
}

.like_icon_liked path {
    fill: #ea3c53;
    stroke: none;
}

.like_count {
    color: var(--text-color);
    margin-left: 10px;
    transform: translateY(-2px);
}

.dots_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dots {
    width: 25px;
    height: 25px;

    padding: 5px;

    border-radius: 100%;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.dots:hover {
    background-color: rgba(var(--text-color-bare), 0.1);
}

.dots:active {
    transform: scale(0.9);
}

.dots_popup {
    width: fit-content;

    position: absolute;
    right: -30px;
    top: 5px;

    padding: 5px;
    background-color: var(--bg-dark);
    border-radius: 10px;
    border: solid 1px var(--primary-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.dots_popup_option {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: flex-end;

    border-radius: 10px;

    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.dots_popup_option:hover {
    background-color: rgba(var(--text-color-bare), 0.1);
}

.dots_popup_option:active {
    transform: scale(0.975);
}

.dots_popup_option img {
    margin-left: 20px;
    margin-right: 10px;
}

.dots_popup_option h1 {
    color: var(--text-color);
    font-family: 'SF Pro Display';
    margin-right: 20px;
    font-size: 24px;
    white-space: nowrap;
}

.share_icon {
    padding: 5px;
    border-radius: 100%;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.share_icon:hover {
    background-color: rgba(var(--text-color-bare), 0.1);
}

.share_icon:active {
    transform: scale(0.9);
}

.button_share {
    width: 50px;
    height: 50px;
    margin: 5px;

    border-radius: 10px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.button_share:active {
    transform: scale(0.9);
}

.button_share img {
    border-radius: 10px;
}

.share_buttons {
    width: 60%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 15px 0;
}

.share_title {
    color: var(--text-color);
    font-family: 'SF Pro Display';
    font-size: 60px;
    margin: 20px 0;
}

.link_container {
    background-color: var(--bg-dark);
    border-radius: 10px;
    border: solid 1px var(--primary-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

    width: 60%;
    overflow-x: hidden;

    display: flex;
    align-items: center;
}

.share_link {
    width: 100%;
    height: 100%;
    padding: 10px;
    color: var(--text-color);
    font-family: 'SF Pro Display';
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}

.copy_button {
    height: 100%;
    aspect-ratio: 1/1;

    background-color: transparent;
    border: none;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 5px;

    transition: 0.1s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 900px) {

    .set_container {
        flex-direction: column;
    }

    .side_bar {
        width: calc(100vw - 80px);
        margin: 20px;
    }

    .questions_container {
        width: calc(100vw - 40px);
        margin: 20px;
    }

}