.save_button {
    border: none;
    border-radius: 10px;

    background-color: var(--primary-color);
    padding: 10px 20px;
    font-size: 24px;

    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.save_button:active {
    transform: scale(0.95);
}