.container {
    width: 100vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 48px;
    font-weight: 700;
    color: var(--text-color);

    margin-bottom: 5px;
}

.subtitle,
.subtitle a {
    color: var(--text-color-light);

    font-family: 'SF Pro Display';
    font-size: 24px;

    margin: 0 0 50px 0;
}

.form_picture {
    height: 300px;
}

.file_input_wrapper {
    width: 500px;
    height: 300px;

    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.picture_input_field {
    display: none;
}

.picture_overlay {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #353535;
    cursor: pointer;
}

.picture_overlay p {
    font-size: 24px;
}

.file_input_wrapper:hover .picture_overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo_proof_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo_proof_title {
    margin-bottom: 10px;
    color: var(--text-color);
    font-family: 'SF Pro Display';
    font-size: 25px;
}

.select_box {
    display: block;
    width: 250px;
    font-family: 'SF Pro Display';
    font-size: 18px;
    color: #60666d;
    margin-bottom: 10px;
}

.select_box__current {
    position: relative;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}

.select_box__current:focus+.select_box__list {
    opacity: 1;
    -webkit-animation-name: none;
    animation-name: none;
}

.select_box__current:focus+.select_box__list .select_box__option {
    cursor: pointer;
}

.select_box__current:focus .select_box__icon {
    transform: translateY(-50%) rotate(180deg);
}

.select_box__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
}

.select_box__value {
    display: flex;
}

.select_box__input {
    display: none;
}

.select_box__input:checked+.select_box__input_text {
    display: block;
}

.select_box__input_text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
    color: var(--text-color);
}

.select_box__list {
    position: absolute;
    width: fit-content;
    padding: 0;
    list-style: none;
    opacity: 0;
    -webkit-animation-name: HideList;
    animation-name: HideList;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.select_box__option {
    display: block;
    padding: 15px;
    background-color: #fff;
    color: var(--text-color);

    width: 300px;
}

.select_box__option:hover,
.select_box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

.submit_button {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;

    margin-top: 20px;
    font-size: 30px;

    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.submit_button:active {
    transform: scale(0.975);
}