.need_signin_background {
    position: fixed;
    left: 0;
    top: 134px;

    width: 100vw;
    height: calc(100vh - 134px);

    background-color: var(--bg);
    z-index: 900;
}

.container {
    width: 100vw;
    height: calc(70vh - 134px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small_title {
    color: var(--primary-color);
    font-size: 24px;
    font-family: 'SF Pro Display';

    margin-bottom: 25px;
}

.big_title {
    color: var(--text-color);
    font-size: 55px;
    font-family: 'SF Pro Display';

    text-align: center;
    width: 60%;

    margin-bottom: 25px;
}

.subtitle {
    color: var(--text-color-light);
    font-size: 30px;
    font-family: 'SF Pro Display';

    width: 40%;
    text-align: center;

    margin-bottom: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.go_back {
    padding: 10px 20px;
    background-color: var(--bg-dark);
    color: var(--text-color);
    font-family: 'SF Pro Display';
    font-size: 28px;

    margin: 0 15px;

    border: none;
    border-radius: 10px;

    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.go_back:active {
    transform: scale(0.95);
}

.go_home {
    padding: 10px 20px;
    background-color: var(--primary-color);
    font-family: 'SF Pro Display';
    font-size: 28px;

    margin: 0 15px;

    border: none;
    border-radius: 10px;

    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.go_home:active {
    transform: scale(0.95);
}