.popup_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    width: 450px;
    height: fit-content;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup_visible {
    visibility: visible;
    animation: appear 0.1s ease-in-out;
}

.popup_hidden_animation {
    animation: disappear 0.1s ease-in-out;
}

.popup_hidden {
    visibility: hidden;
}

.popup_exit {
    align-self: flex-end;
    margin-top: -10px;
    margin-right: 5px;
    margin-bottom: 10px;

    color: black;
    font-size: 40px;

    cursor: pointer;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}