.no_questions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 150px;
}

.no_questions h1 {
    color: var(--text-color);
    font-family: 'SF Pro Display';
    font-size: 50px;
}

.question_container {
    width: calc(100% + 40px);
    height: calc(100vh - 134px - 111px - 80px - 20px);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.question_top {
    width: 100%;
    height: 40%;
    min-height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer {
    margin-bottom: 10px;
}

.timer::before {
    content: '';

    width: calc(100vw - 40px);
    height: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateY(40px);

    background-color: var(--primary-color);
    opacity: 0.3;

    border-radius: 8px;
}

.timer_loading {
    width: calc(100vw - 40px);
    height: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(90deg, hsl(200, 20%, 80%), hsl(192, 7%, 87%));
    background-size: 500%;
    animation: skeleton-loading 2s linear infinite alternate;

    margin-bottom: 10px;

    border-radius: 8px;
}

.timer_bar {
    width: 100%;
    height: 40px;

    background-color: var(--primary-color);
    transform-origin: left;

    border-radius: 8px;
}

.question_bottom {
    width: 100%;
    height: calc(60% - 50px);
    min-height: 300px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.question_title {
    color: var(--text-color);
    font-family: 'SF Pro Display';
    font-size: 45px;
    text-align: center;

    margin-top: 30px;
}

.option_loading {
    width: 100%;
    height: 100%;

    background-image: linear-gradient(90deg, hsl(200, 20%, 80%), hsl(192, 7%, 87%));
    background-size: 500%;
    animation: skeleton-loading 2s linear infinite alternate;
    border-radius: 10px;
}

@keyframes skeleton-loading {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.pregame_title {
    color: var(--text-color);
    font-family: 'SF Pro Display';
    font-size: 45px;
    text-align: center;

    margin-top: 50px;
    margin-bottom: 10px;
}

.pregame_subtitle {
    width: 75%;

    color: var(--text-color-light);
    font-family: 'SF Pro Display';
    font-size: 25px;
    text-align: center;

    margin-bottom: 20px;
}

.start_game_button {
    background-color: var(--primary-color);

    border-radius: 10px;
    border: none;
    outline: none;

    padding: 10px 20px;
    font-size: 30px;

    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.start_game_button:active {
    transform: scale(0.95);
}

.option {
    width: 100%;
    height: 100%;

    border-radius: 10px;

    display: flex;
    align-items: center;

    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.option:active {
    transform: scale(0.99);
}

.option h1 {
    font-family: 'SF Pro Display';
    margin-left: 20px;
}

.correct_indicator {
    width: 100vw;
    height: 100vh;

    position: absolute;
    left: 0;
    top: 0;

    background-color: var(--bg);
    pointer-events: none;

    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.correct_indicator h1 {
    color: var(--text-color);
    font-family: 'SF Pro Display';
    font-size: 50px;
    margin-top: 20px;
}