@import '/node_modules/cooltipz-css/cooltipz.min.css';

* {
    margin: 0;
    padding: 0;

    font-family: 'Cubano';
    color: #eeeeee;

    transition: background-color 0.1s, color 0.1s, border-color 0.1s, fill 0.1s, stroke 0.1s;
}

:root {
    --bg: #f2f9ff;
    --bg-dark: #e5e9ec;
    --bg-darker: #d9dde0;

    /*
    --primary-color: #3440ad;
    --primary-color-bare: 52, 64, 173;
    --primary-color-off: #5c6ae9;
    --primary-light: #8c92c5;
    --primary-light-bare: 140, 146, 197;
    --primary-dark: #1E266D;*/

    --primary-color: #7F56D9;
    --primary-color-bare: 127, 86, 217;
    --primary-color-off: #563799;
    --primary-light: #8c92c5;
    --primary-light-bare: 140, 146, 197;
    --primary-dark: #42307D;

    /* --secondary-color: #ff6b6b; */
    --secondary-color: #EE609C;

    --text-color: #353535;
    --text-color-light: #6b6b6b;

    --correct-color: #18ca00;
    --scrolling-bg-image: url("/images/bg/scrolling/light.png");
}

[data-theme="dark"] {
    --bg: #1f1f1f;
    --bg-dark: #2a2a2a;
    --bg-darker: #333333;

    --primary-color: #7F56D9;
    --primary-color-bare: 127, 86, 217;
    --primary-color-off: #563799;
    --primary-light: #8c92c5;
    --primary-light-bare: 140, 146, 197;
    --primary-dark: #42307D;

    --secondary-color: #EE609C;

    --text-color: #e2e2e2;
    --text-color-light: #a8a8a8;

    --correct-color: #18ca00;
    --scrolling-bg-image: url("/images/bg/scrolling/dark.png");
}

body {
    background-color: var(--bg);
    min-height: 100vh;
    overflow-x: hidden;
}

input,
textarea {
    font-family: 'SF Pro Display';
    font-weight: bold;
}

.bg_scrolling {
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 650px;
    pointer-events: none;
    z-index: -1;

    background: var(--scrolling-bg-image) repeat 0 0;
    --animation-length: 2s;
    -webkit-animation: bg-scrolling-reverse var(--animation-length) infinite;
    -moz-animation: bg-scrolling-reverse var(--animation-length) infinite;
    -o-animation: bg-scrolling-reverse var(--animation-length) infinite;
    animation: bg-scrolling-reverse var(--animation-length) infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    mask: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

@font-face {
    font-family: 'Cubano';
    src: url('/fonts/Cubano.woff2');
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay/SFPRODISPLAYREGULAR.woff2');
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay/SFPRODISPLAYBOLD.woff2');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay/SFPRODISPLAYMEDIUM.woff2');
    font-weight: 400;
    font-display: swap;
}