* {
    margin: 0;
    padding: 0;

    font-family: 'Cubano';
    color: #eeeeee;
}

:root {
    --bg: #F2F9FF;
    --bg-dark: #e5e9ec;
    --primary-color: #3440ad;
    --secondary-color: #ff6b6b;
    --text-color: #1E266D;
}

body {
    background-color: var(--bg);

    overflow-x: hidden
}

input, textarea {
    font-family: 'SF Pro Display';
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

@import url('//db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display');
@font-face {font-family: "SF Pro Display"; src: url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot"); src: url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff") format("woff"), url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.svg#SF Pro Display") format("svg"); }

@font-face {
    font-family: 'Cubano';
    src: url('/fonts/Cubano.ttf');
}