* {
    margin: 0;
    padding: 0;

    font-family: 'Cubano';
    color: #eeeeee;
}

:root {
    --bg: #F2F9FF;
    --bg-dark: #e5e9ec;
    --primary-color: #3440ad;
    --secondary-color: #ff6b6b;
    --text-color: #353535;
}

body {
    background-color: var(--bg);

    overflow-x: hidden
}

input, textarea {
    font-family: 'SF Pro Display';
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

@font-face {
    font-family: 'Cubano';
    src: url('/fonts/Cubano.ttf');
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay/SFPRODISPLAYREGULAR.OTF');
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay/SFPRODISPLAYBOLD.OTF');
    font-weight: bold;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay/SFPRODISPLAYMEDIUM.OTF');
    font-weight: 400;
}