.page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero1 {
    width: 100vw;
    min-height: 50vh;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'SF Pro Display';
    font-size: 65px;
    white-space: nowrap;
    margin-bottom: 40px;
    text-align: center;
    color: var(--text-color);
}

.subtitle {
    width: 50%;
    text-align: center;
    font-family: 'SF Pro Display';
    font-size: 25px;
    color: var(--text-color-light);

    margin-bottom: 50px;
}

.subtitle span {
    background: linear-gradient(45deg, var(--primary-color), #4ba9c8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero1_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.get_started {
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.get_started:active {
    transform: scale(0.95);
}

.learn_more {
    background-color: var(--no-color);
    color: var(--text-color);
    border: solid 1px var(--bg-darker);
    border-radius: 10px;
    padding: 20px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.learn_more:active {
    transform: scale(0.95);
}

.computer_screen {
    width: 70vw;
    aspect-ratio: 16/9;
    border: solid 20px #000;
    border-radius: 50px 50px 0 0;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/ss.png');
}

.computer_screen_coverup {
    width: 100vw;
    height: 10vw;
    background-color: var(--bg);
    transform: translateY(-10vw);
    margin-bottom: -10vw;
}

.hero2 {
    width: 100vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 150px;

    background-color: var(--bg);
}

.hero2_small_title {
    font-family: 'SF Pro Display';
    font-size: 25px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.hero2_big_title {
    font-family: 'SF Pro Display';
    font-size: 45px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.hero2_subtitle {
    width: 50%;
    text-align: center;
    font-family: 'SF Pro Display';
    font-size: 25px;
    color: var(--text-color-light);

    margin-bottom: 120px;
}

.hero2_features {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 80px;
}

.feature {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature_title {
    font-family: 'SF Pro Display';
    font-size: 25px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.feature_subtitle {
    width: 60%;
    text-align: center;
    font-family: 'SF Pro Display';
    font-size: 20px;
    color: var(--text-color-light);
}

.ring_image {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.ring_1 {
    position: absolute;

    width: 80px;
    height: 80px;

    background-color: var(--primary-color);
    border-radius: 100%;

    opacity: 0.1;
}

.ring_2 {
    position: absolute;

    width: 60px;
    height: 60px;

    background-color: var(--primary-color);
    border-radius: 100%;

    opacity: 0.15;
}

.ring_content {
    position: absolute;
    z-index: 2;
}

.hero3 {
    width: 100vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--bg);
}

.hero3_big_title {
    font-family: 'SF Pro Display';
    font-size: 45px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.hero3_subtitle {
    width: 50%;
    text-align: center;
    font-family: 'SF Pro Display';
    font-size: 25px;
    color: var(--text-color-light);

    margin-bottom: 120px;
}

.question {
    width: 60vw;

    display: flex;
    flex-direction: column;

    margin-bottom: 75px;
}

.question_title {
    font-family: 'SF Pro Display';
    font-size: 35px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.question_answer {
    font-family: 'SF Pro Display';
    font-size: 20px;
    color: var(--text-color-light);
    margin-bottom: 20px;
    width: 70%;
}