.page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero1 {
    width: 100vw;
    min-height: 50vh;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 0 50px 0;
}

.title {
    width: 90%;
    font-family: 'SF Pro Display';
    font-size: 65px;
    margin-bottom: 40px;
    text-align: center;
    color: var(--text-color);
    text-align: center;
}

.subtitle {
    width: 50%;
    text-align: center;
    font-family: 'SF Pro Display';
    font-size: 25px;
    color: var(--text-color-light);

    margin: 0 0 50px 0;
}

.subtitle span {
    background: linear-gradient(45deg, var(--primary-color), #4ba9c8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero1_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.get_started {
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.get_started:active {
    transform: scale(0.95);
}

.learn_more {
    background-color: var(--bg-darker);
    color: var(--text-color);
    border: solid 1px var(--bg-darker);
    border-radius: 10px;
    padding: 20px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.learn_more:active {
    transform: scale(0.95);
}

.computer_screen {
    width: 70vw;
    aspect-ratio: 16/9;
    border: solid 20px #000;
    border-radius: 50px 50px 0 0;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.computer_screen_coverup {
    width: 100vw;
    height: 12vw;
    background-color: var(--bg);
    transform: translateY(-10vw);
    margin-bottom: -10vw;
}

.hero2 {
    width: 100vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 150px;

    background-color: var(--bg);
}

.hero2_small_title {
    font-family: 'SF Pro Display';
    font-size: 25px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.hero2_big_title {
    font-family: 'SF Pro Display';
    font-size: 45px;
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: center;
}

.hero2_subtitle {
    width: 50%;
    text-align: center;
    font-family: 'SF Pro Display';
    font-size: 25px;
    color: var(--text-color-light);

    margin-bottom: 120px;
}

.hero2_features {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 80px;
}

.feature {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature_title {
    font-family: 'SF Pro Display';
    font-size: 25px;
    color: var(--text-color);
    margin-bottom: 10px;
    text-align: center;
}

.feature_subtitle {
    width: 60%;
    text-align: center;
    font-family: 'SF Pro Display';
    font-size: 20px;
    color: var(--text-color-light);
}

.ring_image {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.ring_1 {
    position: absolute;

    width: 80px;
    height: 80px;

    background-color: var(--primary-color);
    border-radius: 100%;

    opacity: 0.1;
}

.ring_2 {
    position: absolute;

    width: 60px;
    height: 60px;

    background-color: var(--primary-color);
    border-radius: 100%;

    opacity: 0.15;
}

.ring_content {
    position: absolute;
    z-index: 2;
}

.hero3 {
    width: 100vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--bg);
}

.hero3_big_title {
    font-family: 'SF Pro Display';
    font-size: 45px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.hero3_subtitle {
    width: 50%;
    text-align: center;
    font-family: 'SF Pro Display';
    font-size: 25px;
    color: var(--text-color-light);

    margin-bottom: 120px;
}

.question {
    width: 60vw;

    display: flex;
    flex-direction: column;

    margin-bottom: 75px;
}

.question_title {
    font-family: 'SF Pro Display';
    font-size: 35px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.question_answer {
    font-family: 'SF Pro Display';
    font-size: 20px;
    color: var(--text-color-light);
    margin-bottom: 20px;
    width: 70%;
}

@media screen and (max-width: 768px) {

    .title {
        width: 95%;
        font-size: 45px;
    }

    .subtitle {
        width: 90%;
        font-size: 20px;
    }

    .hero1_buttons {
        flex-direction: column;
    }

    .get_started {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .learn_more {
        margin-left: 0;
    }

    .hero2_big_title {
        width: 90%;
        font-size: 35px;
    }

    .hero2_subtitle {
        width: 80%;
        font-size: 20px;
    }

    .hero2_features {
        display: flex;
        flex-direction: column;
    }

    .feature {
        width: 100%;
        margin-bottom: 20px;
    }

    .feature_title {
        font-size: 40px;
    }

    .hero3_subtitle {
        width: 80%;
        font-size: 20px;
    }

    .hero3_questions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .question {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .question_title {
        width: 80%;
        font-size: 30px;
        text-align: center;
    }

    .question_answer {
        font-size: 20px;
        width: 90%;
        text-align: center;
    }

}