.background {
    width: 100vw;
    height: calc(100vh - 110px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.join_input {
    outline: none;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    color: black;
    font-size: 45px;
    text-align: center;
    font-family: 'Cubano';

    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100px);
}

.join_button {
    width: 320px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #ff6b6b;
    color: white;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.join_button:active {
    transform: scale(0.98);
}

.join_button_joining {
    width: 320px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #ff6b6b;
    color: white;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    filter: opacity(0.5);
}

.popup_error {
    text-align: center;
    color: black;
    margin-bottom: 50px;
    letter-spacing: 2px;
}