.edit_container {
    display: flex;
    justify-content: space-between;

    --data-width: 35vw;
    --questions-width: calc(100vw - var(--data-width));
}

.data_container {
    width: var(--data-width);
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.questions_container {
    width: var(--questions-width);
    height: fit-content;
}

.question_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0;
    width: fit-content;
    height: fit-content;

    margin: 25px 5vw;
}

.shift_question_buttons {
    position: absolute;
    transform: translateX(-100%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.empty_shifter_space {
    position: absolute;
    transform: translateX(-100%);

    width: 50px;
    height: 80px;
}

.shift_button {
    color: var(--text-color);
    background-color: transparent;

    margin-right: 10px;

    transition: 0.2s ease-in-out;
    padding: 5px;

    border: none;
    border-radius: 100%;
    outline: none;
    cursor: pointer;
}

.shift_button:hover {
    background-color: var(--bg-dark);
}

.question {
    width: calc(var(--questions-width) - 10vw);
    height: fit-content;

    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.question_input {
    --input-margin: 20px;
    margin: var(--input-margin);

    width: calc(100% - var(--input-margin) * 2 - 45px);
    height: 50px;

    border: none;
    outline: none;
    border-bottom: 3px solid transparent;

    color: var(--text-color);
    font-size: 40px;

    transition: 0.15s ease-in-out;
}

.question_input:focus {
    border-bottom: 3px solid var(--bg-darker) !important;
    border-radius: 3px;
}

.question_input:hover {
    border-bottom: 3px solid var(--bg-dark);
    border-radius: 3px;
}

.options_container {
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    transform-origin: top;
}

.option {
    --correct-color: #18ca00;

    margin: 10px;

    width: calc(100% - 20px);
    height: fit-content;
    padding: 30px 0;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

.option_red {
    background-color: #C60929;
}

.option_green {
    background-color: #106B03;
}

.option_blue {
    background-color: #0542B9;
}

.option_yellow {
    background-color: #D89E00;
}

.cbx {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    margin-left: 10px;
    transform: scale(1.5);
}

.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 2px solid var(--bg);
    transition: all 0.2s ease;
}

.cbx span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 6px;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--correct-color);
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: 0.2s;
}

.cbx span:last-child {
    margin-left: 8px;
}

article .cbx:hover span:first-child {
    border-color: var(--correct-color);
}

.inp_cbx:checked+.cbx span:first-child {
    border-color: var(--correct-color);
    background: var(--correct-color);
    animation: check 0.6s ease;
}

.inp_cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.inp_cbx:checked+.cbx span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.6s ease;
}

.inp_cbx:checked+.cbx span:last-child {
    color: var(--correct-color);
    transition: all 0.3s ease;
}

@keyframes check {
    50% {
        transform: scale(1.2);
    }
}

.option_input {
    margin-left: 30px;

    width: calc(100% - 106px);
    height: 50px;

    border: none;
    outline: none;
    border-bottom: 1px solid var(--bg-dark);

    transform: translateY(-3px);

    font-size: 25px;

    transition: 0.15s ease-in-out;

    background-color: transparent;
    color: var(--bg);
}

.option_input:focus {
    border-bottom: 2px solid var(--bg);
    border-radius: 3px;
}

.option_input::placeholder {
    color: var(--bg);
}

.add_question {
    width: calc(var(--questions-width) - 10vw - 8px) !important;

    display: flex;
    justify-content: center;
    align-items: center;

    border: dashed 4px var(--bg-darker);
    stroke-dasharray: 100px;

    margin: 25px 5vw;

    transition: 0.15s ease-in-out;
    cursor: pointer;
}

.add_question:hover {
    background-color: #f7f7f7;
}

.add_question:active {
    transform: scale(0.975);
}

.add_symbol {
    margin: 17.5px;
    font-size: 60px;
    color: var(--bg-darker);

    user-select: none;
}

.question_topbar {
    display: flex;
    align-items: center;
}

.dropdown_triangle {
    margin-left: 20px;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
}

.dropdown_triangle_closed {
    transform: rotate(-90deg);
}

.name_input {
    margin: 0 10%;
    padding-left: 20px;

    width: calc(80% - 20px);
    height: 50px;

    border: none;
    outline: none;
    border: 4px dashed var(--bg-dark);
    border-radius: 10px;

    transform: translateY(-3px);

    font-size: 25px;

    transition: 0.15s ease-in-out;

    background-color: #fff;
    color: var(--text-color);
}

.divider {
    width: 80%;
    height: 2px;

    background-color: var(--bg-darker);
    border-radius: 10px;

    margin-bottom: 20px;
}

.set_title {
    width: 90%;
    color: var(--text-color);

    margin: 20px 0;

    font-family: 'SF Pro Display';
    font-size: 70px;

    text-align: center;
    word-wrap: break-word;
}

.name_input_container {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
}

.name_input_title {
    margin: 5px 10%;
    transform: translateX(20px);

    font-size: 22px;
    color: var(--text-color);
    letter-spacing: 1.5px;
}

.desc_input {
    margin: 0 10%;
    padding: 10px 20px;

    width: calc(80% - 40px);
    height: fit-content;
    min-height: 175px;

    border: none;
    outline: none;
    border: 4px dashed var(--bg-dark);
    border-radius: 10px;

    transform: translateY(-3px);

    font-size: 25px;

    transition: 0.15s ease-in-out;

    background-color: #fff;
    color: var(--text-color);

    resize: none;
}

.desc_input_container {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
}

.desc_input_title {
    margin: 5px 10%;
    transform: translateX(20px);

    font-size: 22px;
    color: var(--text-color);
    letter-spacing: 1.5px;
}

.update_set {
    width: calc(80% - 20px);

    border: none;
    border-radius: 10px;
    padding: 10px 20px;

    font-size: 30px;

    background-color: var(--primary-color);
    margin: 20px 0;

    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.update_set:active {
    transform: scale(0.975);
}

.popup_content {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.save_message {
    position: fixed;
    right: 10px;
    bottom: 10px;

    padding: 10px 20px;

    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;

    border-radius: 10px;

    background-color: var(--bg-dark);
}

.save_message h1 {
    font-size: 25px;
    color: var(--text-color);
    font-family: 'SF Pro Display';
    margin: 0 10px;
}