.edit_container {
    display: flex;
    justify-content: space-between;

    --data-width: 35vw;
    --questions-width: calc(100vw - var(--data-width));
}

.data_container {
    width: var(--data-width);
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.questions_container {
    width: var(--questions-width);
    height: fit-content;
}

.question_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0;
    width: fit-content;
    height: fit-content;

    margin: 25px 5vw;
}

.shift_question_buttons {
    position: absolute;
    transform: translateX(-100%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.empty_shifter_space {
    position: absolute;
    transform: translateX(-100%);

    width: 50px;
    height: 80px;
}

.shift_button {
    color: var(--text-color);
    background-color: transparent;

    margin-right: 10px;

    transition: 0.2s ease-in-out;
    padding: 5px;

    border: none;
    border-radius: 100%;
    outline: none;
    cursor: pointer;
}

.shift_button:hover {
    background-color: var(--bg-dark);
}

.question {
    --input-margin: 20px;
    --trash-size: 40px;

    width: calc(var(--questions-width) - 10vw);
    height: fit-content;

    background-color: var(--bg-dark);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.question_input {
    margin: var(--input-margin);

    width: calc(100% - var(--input-margin) * 2 - 45px - var(--trash-size));
    height: 50px;

    border: none;
    outline: none;
    border-bottom: 3px solid transparent;
    background-color: transparent;

    color: var(--text-color);
    font-size: 40px;

    transition: 0.15s ease-in-out;
}

.question_input:focus {
    border-bottom: 3px solid var(--bg-darker) !important;
    border-radius: 3px;
}

.question_input:hover {
    border-bottom: 3px solid var(--bg-dark);
    border-radius: 3px;
}

.delete_question {
    width: fit-content;
    height: var(--trash-size);
    cursor: pointer;

    margin-right: var(--input-margin);
    transition: 0.3s ease-in-out;
}

.delete_question path {
    stroke: var(--text-color);
    transition: 0.3s ease-in-out;
}

.delete_question:hover {
    transform: scale(1.1);
}

.delete_question:hover path {
    stroke: red;
}

.add_question {
    width: calc(var(--questions-width) - 10vw - 8px) !important;

    display: flex;
    justify-content: center;
    align-items: center;

    border: dashed 4px var(--bg-darker);
    stroke-dasharray: 100px;

    margin: 25px 5vw;

    transition: 0.15s ease-in-out;
    cursor: pointer;
}

.add_question:hover {
    background-color: var(--bg-dark);
}

.add_question:active {
    transform: scale(0.975);
}

.add_symbol {
    margin: 17.5px;
    font-size: 60px;
    color: var(--bg-darker);

    user-select: none;
}

.question_topbar {
    display: flex;
    align-items: center;
}

.dropdown_triangle {
    margin-left: 20px;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
}

.dropdown_triangle_closed {
    transform: rotate(-90deg);
}

.name_input {
    margin: 0 10%;
    padding-left: 20px;

    width: calc(80% - 20px);
    height: 50px;

    border: none;
    outline: none;
    border: 4px dashed var(--bg-dark);
    border-radius: 10px;

    transform: translateY(-3px);

    font-size: 25px;

    transition: 0.15s ease-in-out;

    background-color: var(--bg-dark);
    color: var(--text-color);
}

.divider {
    width: 80%;
    height: 2px;

    background-color: var(--bg-darker);
    border-radius: 10px;

    margin-bottom: 20px;
}

.set_title {
    max-width: 90%;
    color: var(--text-color);

    margin: 20px 0;

    font-family: 'SF Pro Display';
    font-size: 70px;

    word-wrap: break-word;
}

.name_input_container {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
}

.name_input_title {
    margin: 5px 10%;
    transform: translateX(20px);

    font-size: 22px;
    color: var(--text-color);
    letter-spacing: 1.5px;
}

.desc_input {
    margin: 0 10%;
    padding: 10px 20px;

    width: calc(80% - 40px);
    height: fit-content;
    min-height: 175px;

    border: none;
    outline: none;
    border: 4px dashed var(--bg-dark);
    border-radius: 10px;

    transform: translateY(-3px);

    font-size: 25px;

    transition: 0.15s ease-in-out;

    background-color: var(--bg-dark);
    color: var(--text-color);

    resize: none;
}

.desc_input_container {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
}

.desc_input_title {
    margin: 5px 10%;
    transform: translateX(20px);

    font-size: 22px;
    color: var(--text-color);
    letter-spacing: 1.5px;
}

.update_set {
    width: calc(80% - 20px);

    border: none;
    border-radius: 10px;
    padding: 10px 20px;

    font-size: 30px;

    background-color: var(--primary-color);
    margin: 20px 0;

    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.update_set:active {
    transform: scale(0.975);
}

.popup_content {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.save_message {
    position: fixed;
    right: 10px;
    bottom: 10px;

    padding: 10px 20px;

    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;

    border-radius: 10px;

    background-color: var(--bg-dark);
}

.save_message h1 {
    font-size: 25px;
    color: var(--text-color);
    font-family: 'SF Pro Display';
    margin: 0 10px;
}

.question_type_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 20px;
}

.question_type_checkbox {
    margin: 10px;
}

.question_type_checkbox_input:checked+.question_type_checkbox_tile {
    border-color: var(--primary-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: var(--primary-color);
}

.question_type_checkbox_input:checked+.question_type_checkbox_tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.question_type_checkbox_input:checked+.question_type_checkbox_tile .question_type_checkbox_icon,
.question_type_checkbox_input:checked+.question_type_checkbox_tile .question_type_checkbox_label {
    color: var(--primary-color);
}

.question_type_checkbox_input:focus+.question_type_checkbox_tile {
    border-color: var(--primary-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px var(--bg-darker);
}

.question_type_checkbox_input:focus+.question_type_checkbox_tile:before {
    transform: scale(1);
    opacity: 1;
}

.question_type_checkbox_tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7rem;
    min-height: 7rem;
    border-radius: 0.5rem;
    border: 2px solid var(--bg-darker);
    background-color: var(--bg-dark);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.question_type_checkbox_tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid var(--bg-darker);
    background-color: var(--bg-dark);
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.1s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.question_type_checkbox_tile:hover {
    border-color: var(--primary-color);
}

.question_type_checkbox_tile:active {
    transform: scale(0.975);
}

.question_type_checkbox_icon {
    transition: 0.375s ease;
    color: var(--text-color);
}

.question_type_checkbox_icon svg {
    width: 3rem;
    height: 3rem;
}

.question_type_checkbox_icon svg polygon {
    stroke: var(--text-color);
}

.question_type_checkbox_label {
    color: var(--text-color);
    transition: 0.375s ease;
    text-align: center;
    margin-top: 5px;
    font-family: 'SF Pro Display';
    user-select: none;
}

.lock {
    width: 50px;
    height: 50px;

    margin-right: 10px;
}

.lock path {
    fill: var(--text-color);
}

.question_types_title {
    color: var(--text-color);
    font-family: 'SF Pro Display';
    font-size: 50px;
}

.toggle {
    align-items: center;
    border-radius: 100px;
    display: flex;
    font-weight: 700;
    margin-bottom: 16px;
}

.toggle:last-of-type {
    margin: 0;
}

.toggle__input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.toggle__input:not([disabled]):active+.toggle_track,
.toggle__input:not([disabled]):focus+.toggle_track {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px var(--text-color-light);
}

.toggle__input:disabled+.toggle_track {
    cursor: not-allowed;
    opacity: 0.7;
}

.toggle_track {
    background: var(--bg-dark);
    border: 2px solid var(--text-color-light);
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    height: 30px;
    margin-right: 12px;
    position: relative;
    width: 60px;
}

.toggle_indicator {
    align-items: center;
    background: var(--text-color-light);
    border-radius: 24px;
    bottom: 2px;
    display: flex;
    height: 24px;
    justify-content: center;
    left: 2px;
    outline: solid 2px transparent;
    position: absolute;
    transition: 0.25s;
    width: 24px;
    transform: translateY(-1px);
}

.checkMark {
    fill: var(--bg-dark);
    height: 20px;
    width: 20px;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.toggle__input:checked+.toggle_track .toggle_indicator {
    background: var(--text-color-light);
    transform: translateX(30px) translateY(-1px);
}

.toggle__input:checked+.toggle_track .toggle_indicator .checkMark {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

.toggle_text {
    color: var(--text-color);
    font-family: 'SF Pro Display';
    font-size: 32px;
    font-weight: 700;
}

.scramble_questions {
    padding: 25px 0;
}

.number_input_container {
    display: flex;
    align-items: center;

    margin: 15px 0;
}

.number_input {
    width: 50px;
    height: 50px;

    border-radius: 10px;
    border: 1px solid var(--bg-darker);
    outline: none;
    background-color: var(--bg-dark);

    color: var(--text-color);

    font-family: 'SF Pro Display';
    font-size: 24px;

    text-align: center;
    margin-right: 10px;
}

.number_input::-webkit-outer-spin-button,
.number_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tags {
    width: calc(80% - 10px);
    padding: 5px;

    border-radius: 10px;
    border: 1px solid var(--bg-darker);
    outline: none;
    background-color: var(--bg-dark);

    display: flex;
    flex-wrap: wrap;
}

.tag {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: #FBA1B7;
}

.tag h1 {
    color: #0000009a;
    font-family: 'SF Pro Display';
    font-size: 18px;
}

.tag button {
    width: 10px;
    height: 18px;

    margin-left: 6px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #0000009a;
}

.add_tag_container {
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.add_tag {
    width: calc(75% - 10px);
    height: calc(100% - 10px);
    padding: 5px;

    border-radius: 10px;
    border: 1px solid var(--bg-darker);
    outline: none;
    background-color: var(--bg-dark);

    color: var(--text-color-light);
    font-family: 'SF Pro Display';
    font-size: 20px;
}

.add_tag_button {
    width: 25%;
    height: 100%;

    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    font-family: 'SF Pro Display';
    font-size: 18px;

    cursor: pointer;
}

.no_tags {
    width: 100%;
    text-align: center;

    color: var(--text-color);
    font-family: 'SF Pro Display';
    font-size: 20px;

    margin: 10px 0;
}