.popup_error {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.study_title {
    font-family: 'SF Pro Display';
    color: var(--text-color);
    font-size: 35px;

    margin: 20px 40px;
}

.study_methods {
    width: calc(100vw - 80px);
    height: fit-content;

    margin: 0 40px;
    margin-bottom: 40px;

    display: flex;
    flex-wrap: wrap;
}

.study_method {
    display: flex;
    align-items: center;

    background-color: var(--primary-color-off);
    border-radius: 10px;
    border: none;

    font-size: 30px;
    font-family: 'SF Pro Display';

    padding: 10px 20px;
    margin-right: 20px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    height: 70px;

    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.study_method:active {
    transform: scale(0.975);
}

.study_method img {
    margin-right: 10px;
}

.study_method_selected {
    background-color: var(--primary-color);
}

.study_method_container {
    width: calc(100vw - 80px);
    height: fit-content;
    margin: 40px 20px;
    margin-bottom: 0;
}

.study_state_title {
    font-family: 'SF Pro Display';
    color: var(--text-color);
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

.study_state_subtitle {
    font-family: 'SF Pro Display';
    color: var(--text-color-light);
    font-size: 20px;
    margin: 20px 10px;
    text-align: center;
}

.take_break {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: none;

    padding: 10px 20px;

    font-family: 'SF Pro Display';
    font-size: 24px;

    margin-top: 20px;

    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.take_break:active {
    transform: scale(0.975);
}

.ignore_break {
    background-color: transparent;
    color: var(--text-color-light);
    border-radius: 10px;
    border: none;

    padding: 10px 20px;

    font-family: 'SF Pro Display';
    font-size: 24px;

    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.ignore_break:active {
    transform: scale(0.975);
}

.timer {
    font-family: 'SF Pro Display';
    font-size: 80px;
    color: var(--text-color);
    text-align: center;
}