.terms_container {
    width: calc(100vw - 60px);
    height: fit-content;

    padding: 30px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small_title {
    font-size: 24px;
    font-family: 'SF Pro Display';
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-align: center;
}

.big_title {
    width: 50%;
    font-size: 52px;
    font-family: 'SF Pro Display';
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 24px;
    font-family: 'SF Pro Display';
    font-weight: 400;
    color: var(--text-color-light);
    text-align: center;
}


.terms {
    display: flex;
    flex-direction: column;

    width: 50%;
    margin-top: 100px;
}

.terms p {
    font-size: 35px;
    font-family: 'SF Pro Display';
    font-weight: 600;
    color: var(--text-color);

    margin: 20px 0;
}

.section_content {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    color: var(--text-color-light) !important;
    line-height: 28px;
}

@media screen and (max-width: 1250px) {

    .big_title {
        width: 80%;
    }

    .terms {
        width: 80%;
    }

}