.markdown_content {
    margin: 20px 0;
}

.markdown_content * {
    color: var(--text-color-light);
    font-family: 'SF Pro Display';
}

.blurt_p {
    font-family: 'SF Pro Display';
    font-size: 24px;
    font-weight: 400;
}

.blurt_h1 {
    font-family: 'SF Pro Display';
    font-size: 48px;
    font-weight: 600;
    margin: 15px 0;
}

.blurt_h2 {
    font-family: 'SF Pro Display';
    font-size: 44px;
    font-weight: 600;
    margin: 15px 0;
}

.blurt_h3 {
    font-family: 'SF Pro Display';
    font-size: 40px;
    font-weight: 600;
    margin: 15px 0;
}

.blurt_h4 {
    font-family: 'SF Pro Display';
    font-size: 35px;
    font-weight: 600;
    margin: 15px 0;
}

.blurt_h5 {
    font-family: 'SF Pro Display';
    font-size: 30px;
    font-weight: 600;
    margin: 15px 0;
}

.blurt_h6 {
    font-family: 'SF Pro Display';
    font-size: 25px;
    font-weight: 600;
    margin: 15px 0;
}

.blurt_li {
    font-family: 'SF Pro Display';
    font-size: 24px;
    font-weight: 400;
}

.blurt_ul {
    font-family: 'SF Pro Display';
    font-size: 24px;
    font-weight: 400;
    transform: translateX(24px);
}

.blurt_ol {
    font-family: 'SF Pro Display';
    font-size: 24px;
    font-weight: 400;
    transform: translateX(24px);
}

.blurt_span {
    font-family: 'SF Pro Display';
    font-size: 24px;
    font-weight: 400;
}

.blurt_img {
    margin: 30px 0;
    width: 300px;
}

.blurt_a {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
}

.code_container * {
    background-color: var(--bg-dark);
    margin-top: 0 !important;
}

.language {
    width: fit-content;
    height: fit-content;

    --language-padding-x: 15px;
    --language-padding-y: 3px;
    padding: var(--language-padding-y) var(--language-padding-x);
    padding-top: 10px;

    background-color: var(--bg-dark);
    --border-styles: 3px solid var(--bg-darker);
    border-left: var(--border-styles);
    border-right: var(--border-styles);
    border-top: var(--border-styles);
    border-radius: 10px 10px 0 0;
}

.language h1 {
    margin: 0 !important;
}

.language_icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    fill: var(--text-color-light);
}

.border_cover {
    width: calc(100% + var(--language-padding-x) * 2);
    height: 3px;

    transform: translateX(calc(-1 * var(--language-padding-x))) translateY(calc(3px + var(--language-padding-y)));
    background-color: var(--bg-dark);
}