.edit_course {
    display: flex;
    flex-direction: column;
}

.basic_input {
    margin: 10px;
    background-color: var(--bg-dark);
    border: 1px solid var(--bg-darker);
    border-radius: 10px;
    outline: none;
    padding: 10px;
    width: 500px;
    font-size: 30px;
}

.basic_input:disabled {
    color: var(--text-color-light);
    filter: brightness(0.8);
    cursor: not-allowed;
}

.basic_textarea {
    margin: 10px;
    background-color: var(--bg-dark);
    border: 1px solid var(--bg-darker);
    border-radius: 10px;
    outline: none;
    padding: 10px;
    width: calc(100% - 60px);
    min-height: 200px;
    font-size: 30px;
    resize: vertical;
}

.basic_textarea:disabled {
    color: var(--text-color-light);
    filter: brightness(0.8);
    cursor: not-allowed;
}

.update_button {
    width: fit-content;
    height: fit-content;

    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 30px;
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

.update_button:active {
    transform: scale(0.95);
}

.update_button:disabled {
    filter: brightness(0.8);
    cursor: not-allowed;
}

.save_message {
    position: fixed;
    right: 10px;
    bottom: 10px;

    padding: 10px 20px;

    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;

    border-radius: 10px;

    background-color: var(--bg-dark);
}

.save_message h1 {
    font-size: 25px;
    color: var(--text-color);
    font-family: 'SF Pro Display';
    margin: 0 10px;
}